*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("images/exam-portal-carousel-img-3.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    -webkit-animation: mymoves 7s infinite;
}
@-webkit-keyframes mymoves {
    from {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/exam-portal-carousel-img-3.jpg");
    }
    to {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/exam-portal-carousel-img-4.avif");
    }
}
.header-text{
    color: #fff;
    font-weight: 700;
    font-size: 6rem;
}
.header-sub-text{
    color: #fbfbf7;
    font-size: 2.5rem;
    font-weight: 400;
}
nav li{
    list-style: none;
}
.nav-link:hover{
    background-color: #fff !important;
    border-radius: 30px;
    font-weight: 700;
}
.nav-link{
    font-weight: 600;
}
.nav-link.active:hover{
    background-color: #fff !important;
    color: #F26722 !important;
    border-radius: 30px;
    font-weight: 700;
}
nav{
    justify-content: space-between;
}
nav li a{
   text-decoration: none;
   color: #F26722 !important;
}
nav li a.active{
    text-decoration: none;
    background-color: #fff !important;
    color: #F26722 !important;
    border-radius: 30px;
    font-weight: 700;
}
.top-bar{
    background-color: #36315E;
    height: 80px !important;
}
.student-login{
    color: #f07a3f;
    background-color: #fff;
    font-weight: 600;
}
.lecturer-login{
    color: #fff;
    background-color: transparent;
    border: .1px solid #F26722;
    font-weight: 600;
}

.lecturer-login:hover, .student-login:hover{
    color: #fff;
    background-color: #F26722;
    font-weight: 600;
    transform: scale(1.1);
    transition: all 1.5s ease-in-out;
}
#services > div:nth-child(odd){
    background: #F26722;
}

#services > div:nth-child(even){
    background: #36315E;
}
.high-light{
    font-size: 1.5rem;
}
#services > div{
    perspective: 1000px;
}
#toggle{
    display: none;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
}
#linkss{
    display: none;
}
#products{
    background-image: url(images/wallpaper-porduct.jpg);
    background-size: cover;
    background-position: center;
}
.product-header{
    color: #36315E !important;
    font-weight: 700;
    font-size: 4rem;
}
footer{
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #F26722;
}
footer p{
    font-size: 1rem;
    font-style: oblique;
    font-weight: 700;

}

@media screen and (max-width: 1024px){
    .header-text{
        font-size: 3rem;
    }
    .header-sub-text{
        font-size: 2rem;
    }
    .btn-mini{
        margin-left: -2rem !important;
    }
    header{
        height: 80vh;
    }
    .high-light {
        font-size: 16px;
    }
    .certification-img{
        max-width: 78%;
        height: auto;
    }
    .nav-link{
        padding: .5rem;
    }
    .nav-link{
        font-size: .75rem;
    }
    .mt-none-btn{
        margin-top: 22px !important;
    }
    .mt-none{
        margin-top: -65px !important;
    }
}
@media screen and (max-width:768px) {
    .mt-none{
        margin-top: -34px !important;
    }
    .btn-p{
        padding: .5rem !important;
    }
    .header-sub-text{
        font-size: 1rem;
        margin-top: 0px !important;
    }
    #linkss{
        display: none;
    }
    #linkss li a.active, #linkss li a {
        text-align: center;
        font-size: 1rem;
        color: #fff !important;
        background: none !important;
    }
    #linkss li a.active :hover, #linkss li a:hover {
        background: transparent !important;
        border: 2px solid #fff !important;
        border-radius: 5px !important;
        cursor: pointer !important;
    }
    .show{
        display: block !important;
        background-color: #36315E;
        color: #fff;
        border-bottom-left-radius: 100%;
        height:283px;
        margin-top: 4px;
        animation: moveMenu 3s;
        animation-fill-mode: forwards;
        transform: translateX(522px);
        transition: all 3s ease-in-out;    
    }

    @keyframes moveMenu {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        } 
    }
    #toggle{
        display: block;
        margin-left: auto !important;
        margin-right: 60px;
    }
    .d-none-sm{
        display: none;
    }
    #myLinks{
        display: none !important;
    }
}
@media screen and (max-width: 480px){
    .btn-p{
        font-size: 12px;
    }
    .mt-none-btn{
        margin-top: 22px !important;
    }
    .product-header{
        font-size: 2rem;
    }
    .d-none-sm{
        display: none;
    }
    #myLinks{
        display: none !important;
    }
    #linkss{
        display: none;
    }
    #linkss li a.active, #linkss li a {
        text-align: center;
        font-size: 1rem;
        color: #fff !important;
        background: none !important;
    }
    #linkss li a.active :hover, #linkss li a:hover {
        background: transparent !important;
        border: 2px solid #fff !important;
        border-radius: 5px !important;
        cursor: pointer !important;
    }
    .show{
        display: block;
        background-color: #36315E;
        color: #fff;
        border-bottom-left-radius: 100%;
        height:283px;
        margin-top: 4px;
        animation: moveMenu 3s;
        animation-fill-mode: forwards;
        transform: translateX(522px);
        transition: all 3s ease-in-out;    
    }

    @keyframes moveMenu {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
        
    }
    #toggle{
        display: block;
        margin-left: auto !important;
        margin-right: 60px;
    }
    .high-light {
        font-size: 10px;
    }
}
