@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
} 
header{
    height: 100vh;
    background-color:#20B2D8;
    border-bottom-left-radius: 20%;
}
header h1{
   font-size: 2rem;
}
header .text-small{
    font-size: 2rem;
    background-color:#43B3D2;
    border-radius: 20px;
}
.animated-area{
    background-image: linear-gradient(to right top, #43b3d2, #4399b9, #427f9e, #3e6783, #375067, #31465c, #2a3d51, #243446, #1f3448, #183449, #0e354b, #00354c);
    width: 100%;
    height: 100vh;
}
.box-area{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-area-2{
    position: absolute;
    bottom:30px;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-area-2 li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(250, 240, 250, 0.945);
    animation: animate 20s linear infinite;
    bottom: -450px;
}
.box-area-2:nth-child(1){
    right: 96px;
    width: 150px;
    height: 80px;
    animation-delay: 2s;
}
.box-area-2 li:nth-child(2){
    right:340px;
    width:88px;
    height: 40px;
    border-radius: 50%;
    animation-delay: 14s;
    animation-duration: 5s;
}
.box-area-2 li:nth-child(3){
    right:270px;
    width: 80px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 8s;
}

.box-area-2 li:nth-child(4){
    right:285px;
    width: 70px;
    height: 60px;
    border-radius: 50%;
    animation-delay: 10s;
}
.box-area-2 li:nth-child(5){
    right:350px;
    width: 110px;
    height: 110px;
    animation-delay: 15s;
}

.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(250, 240, 250, 0.945);
    animation: animate 20s linear infinite;
    bottom: -350px;
}
.box-area li:nth-child(1){
    left: 96px;
    width: 150px;
    height: 80px;
    animation-delay: 8s;
}
.box-area li:nth-child(2){
    left:340px;
    width:88px;
    height: 40px;
    animation-delay: 14s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    left:170px;
    width: 80px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 10s;
}

.box-area li:nth-child(4){
    left:265px;
    width: 70px;
    height: 60px;
    border-radius: 50%;
    animation-delay: 15s;
}
.box-area li:nth-child(5){
    left:350px;
    width: 110px;
    height: 110px;
    animation-delay: 20s;
}
.box-area li:nth-child(6){
    left:15%;
    width: 130px;
    height: 110px;
    animation-delay: 5s;
}
.box-area li:nth-child(7){
    left: 359px;
    width: 100px;
    height: 80px;
    border-radius: 50%;
    animation-delay: 15s;
}
.box-area li:nth-child(8){
    left:165px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation-delay: 15s;
}
.box-area li:nth-child(9){
    left:100px;
    width: 100px;
    height: 80px;
    border-radius: 50%;
    animation-delay: 20s;
}
.box-area li:nth-child(10){
    left:199px;
    width: 100px;
    height: 80px;
    border-radius: 80%;
    animation-delay: 20s;
}

.box-area li:nth-child(11){
    left:359px;
    width: 100px;
    height: 80px;
    border-radius: 80%;
    animation-duration: 30s;
    animation-delay: 20s;
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    50%{
        transform: translateY(-800px) rotate(360deg);
        background-color: #fff;
        opacity: 0;
    }
    75%{
        transform: translateY(-800px) rotate(360deg);
        background-color: #20B2D8;
        opacity: 0;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}
@keyframes animateButton{
    0%{
        transform: translateY(40px);
    }
    50%{
        transform: translateY(20px) rotateY(-5deg) rotateY(5deg);
        background-color: #fff;
    }
    75%{
        transform: translateY(20px);
        background-color: #20B2D8;
    }
    100%{
        transform: translateY(20px);
    }
}
.head{
    font-size: 2rem;
    color: #2a3443;
    font-weight: 600;
}
.line{
    color: #2a3443;
    width: 50%;
}
.top-bar{
    height: 8%;
    background-color: #00354C;
    border-top-left-radius: 60px;
}
nav ul li{
    list-style: none;
    padding: 10px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
nav ul li a:hover{
    color: #fff;
    border-bottom: 2px solid #43b3d2;
    border-radius: 5px;  
}
.bg-dark{
    height: 40vh;
    background-color: #20B2D8 !important;
    border-radius: 20px;
}
.services{
    border-radius: 30px;
}
.sign-in{
    color: #20B2D8;
    background: white;
    border: 2px solid #fff;
    outline: none;
    border-style: none;
    padding: 20px 50px;
    border-radius: 45px;
    font-size: 1.2rem;
    font-weight: 700;
}
.sign-in:hover{
    transform: scale(1.1);
}
footer{
    background-color: #243446;
    height: 5%;
    
}