*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color:#F0EFF2;
}
.btn-outline-dark{
    font-weight: 500;
}
.btn-outline-dark:hover{
    color:#fff !important;
    font-size: .85rem !important;
}
.btn-prev{
    border: 2px solid #4399b9;
    color: #000 !important;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem !important;
}
.btn-next{
    border: 2px solid #20B2D8;
    color: #000 !important;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem !important;
}
.btn-prev:hover{
    background-color: #4399b9 !important;
    color: #fff !important;
}
.btn-next:hover{
    background-color: #20B2D8 !important;
    color: #fff !important;
}
.main{
    border: 2px solid transparent;
    border-radius: 20px;
    margin-top: 30px;
    box-sizing: border-box;
    overflow-y: hidden;
}
.top-bar{
    background-color: #00354C;
    color: #fff;
    border-bottom-left-radius: 100px;
}
.side{
    border: 2px solid transparent;
    border-radius: 10px;
    margin-top: 30px;
    box-sizing: border-box;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 13px;
    height: 10px;
}
::-webkit-scrollbar-track {background: #f1f1f1; }
::-webkit-scrollbar-thumb {
    background: #40A3F8; 
    border-radius: 5px; 
}
::-webkit-scrollbar-thumb:hover {background: #40A3F8;}
.highlight-btn{
    border-radius: 30px;
    color: #000 !important;
    text-decoration: none !important;
    border: 2px solid #4399b9;
}
.highlight-btn.active{
    color: black;
    border: 2px solid #20B2D8;
    font-weight: 700;
}
.highlight-btn.active:hover{
    color: #20B2D8;
    font-weight: 700;
}
.highlight-btn:hover{
    background-color: rgb(250, 239, 239);
    color: #20B2D8;
    font-weight: 600;
}
.time{
    font-weight: 500;
    font-size: 1rem;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.options{
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
}
.question-header{
    font-weight: 700;
}